bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Dating/.idea/.gitignore
/.idea/.idea.Dating/.idea/encodings.xml
/.idea/.idea.Dating/.idea/indexLayout.xml
/.idea/.idea.Dating/.idea/vcs.xml
/.vs/Dating/v17/.futdcache.v2
/.vs/Dating/v17/.suo
/.vs/Dating/FileContentIndex/cc443874-ddd5-4f57-abf9-935faea740d4.vsidx
/Dating.csproj.user
/.vs/ProjectEvaluation/dating.metadata.v5.1
/.vs/ProjectEvaluation/dating.projects.v5.1
/.vs/Dating/FileContentIndex/read.lock
